body {
    cursor: default;
}

.sub-section {
    margin-left: 50px;
}

.sub-section h2, h3 {
    margin-left: -20px;
}

.content {
    margin-left: 30px;
}

.patterns td {
    vertical-align: top;
}

.patterns th {
    width: 25vw;
}

@media (max-width: 1000px) {
    .patterns th {
        width: 50vw;
    }
}

.credit-link {
    color: rgba(255, 255, 255, 0.5);
}

.credit-link:hover {
    color: rgba(255, 255, 255, 1);
}